[package]
name = "fzf-make"
version = "0.13.0"
edition = "2021"
authors = ["kyu08"]
description = "A command line tool that executes make target using fuzzy finder with preview window."
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.7.1"
uuid = { version = "1.4.1", features = ["serde", "v4"] }
colored = "2"
crossterm = "0.27.0"
fuzzy-matcher = "0.3.7"
vt100 = "0.15.2"
portable-pty = "0.8.1"
tui-term = "0.1.6"
ratatui = "0.25.0"
anyhow = "1.0.78"
