name: Check license file
on:
  pull_request:

jobs:
  check-license-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      # Currently, we specify this workflow as one of "Status checks that are required".
      # So if we don't run this workflow using paths: Cargo.lock,
      # PRs that don't change Cargo.lock will be blocked unnecessarily.
      # So we check if Cargo.lock changed and skip the rest of the steps if not
      # intentionally instead of using `paths`.
      - name: Check if Cargo.lock changed
        id: check-changes
        run: |
          if git diff --name-only origin/main...HEAD | grep -q "^Cargo.lock$"; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      # For some reason, below diff is shown and only in CI and CI fails but not in local machine.
      # As a workaround, we added a line break reluctantly.
      # https://github.com/kyu08/fzf-make/commit/22c6f4a15b57c53796ad6ffb6892224f852f3ad1
      #
      # diff --git a/CREDITS.md b/CREDITS.md
      # index d5a747f..665491e 100644
      # --- a/CREDITS.md
      # +++ b/CREDITS.md
      # @@ -2776,6 +2776,7 @@ Copyright 2010-2014 Rich Geldreich and Tenacious Software LLC
      #  Copyright (c) 2017 Frommi
      #  Copyright (c) 2017-2024 oyvindln
      #
      # +
      #  Permission is hereby granted, free of charge, to any person obtaining a copy
      #  of this software and associated documentation files (the &quot;Software&quot;), to deal
      #  in the Software without restriction, including without limitation the rights
      - name: Check and update license file
        if: steps.check-changes.outputs.changed == 'true'
        run: |
          make update-license-file

      - name: Check diff
        if: steps.check-changes.outputs.changed == 'true'
        run: |
          git add .
          git diff --cached --exit-code
