name: Detect unused dependencies
on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  detect-unused-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Machete
        uses: bnjbvr/cargo-machete@e7d460faa33cbba452e69e8b1700e6a75e8a72b8 # main(currently untagged)
