name: Detect unused dependencies
on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  detect-unused-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Machete
        uses: bnjbvr/cargo-machete@744a6d5e0db5d189ad36edb08c5f77107cc42310 # main(currently untagged)
