name: Format check

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Setup nightly rustfmt
      run: |
        rustup set profile minimal
        rustup install nightly
        rustup override set nightly
        rustup component add rustfmt
    - name: Check formatting
      run: |
        make fmt-check
