name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - 'src/**.rs'
      - Cargo.toml
      - Cargo.lock
      - rustfmt.toml
      - rust-toolchain.toml

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup clippy
      run: |
        rustup set profile minimal
        rustup component add clippy
    - name: Lint
      run: |
        make check
