name: Pinact

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Run pinact
      uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
      with:
        skip_push: "true"
    - name: Show pinact fix instruction
      if: failure()
      run: |
        echo "Pinact check failed. Run 'pinact run' to pin workflow."
