name: Spell Check

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  spell-check:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Spell Check
      uses: crate-ci/typos@v1.32.0
      with: 
        config: _typos.toml
