name: Spell Check

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Spell Check
      uses: crate-ci/typos@85f62a8a84f939ae994ab3763f01a0296d61a7ee # v1.36.2
      with: 
        config: _typos.toml
