name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - 'src/**.rs'
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: make test-ci
